.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: cadetblue;
  border-radius: 10%;
}
  
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.bg-game {
  background: url('./assets/images/tas-kagit-makas.jpg') center center fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.text-color-white {
  color: #FFF;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 455px) {
  .img-responsive {
    width: 140px;
  }
}